input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Navabr */
.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.navbar-nav-scroll {
  color: #e82628;
}

/* Mega Menu */
.dropdown-mega .dropdown-menu {
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 0px;
  border: 0;
}

.dropdown-mega h5 {
  padding-bottom: 12px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 1); */
  margin: 0;
}

.dropdown-mega .list-group-item {
  background-color: #f1f1f1;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 12px 0 12px 0;
}

.dropdown-mega .list-group-item:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* End Of Navbar */

.hitam {
  color: #1a2634;
}

.tambahan {
  width: 100%;
  height: 10px;
  background-color: #ffffff !important;
}

.sub-head {
  color: #e82628;
}

.margin-custom {
  margin-top: -20px !important;
}

input {
  outline: none;
}

.button-custom {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  transition: 0.1s ease-in-out;
}

.button-custom:hover {
  border: 2px solid rgba(232, 38, 40, 0.3);
  box-shadow: 0px 0px 10px 2px rgba(232, 38, 40, 0.2);
}

.button-custom:focus {
  color: #ffffff;
  background-color: #dc3545;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #f5f5f5 !important;
  margin-bottom: 0;
}
